<div class="active carousel-item">
    <div class="container">
        <div class="row p-5">
            <div [@state]="item.status" class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" src="{{item.path}}" alt="">
            </div>
            <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                    <h1 class="h1 text-success"><b>Zay</b> store</h1>
                    <h3 class="h2">Best clothing store on the web!</h3>
                    <p>
                        Zay Store is best choice for you and your family. Shop at our store you won't regret it.                       
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>