
<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div *ngIf="product" class="row" id="productDetails">
            <div  class="col-lg-5 mt-5 ">
                <div *ngIf="product.hasOwnProperty('image')" class="card mb-3 noBorder">
                    <img class="card-img img-fluid" src="{{product.image.path}}" alt="Card image cap" id="product-detail">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5 ">
                <div class="card noBorder">
                    <div class="card-body">
                        <h1 class="h2">{{product.name}}</h1>
                        <p class="h3 py-2">${{product.price}}</p>
               
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Category:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p *ngIf="product.hasOwnProperty('category')" class="text-muted"><strong>{{product.category.name}}</strong></p>
                            </li>
                        </ul>

                        <h6>Description:</h6>
                        <p>{{product.description}}</p>
                     
                        <div class="row pb-3">
                            <div class="col d-grid">
                                <button type="button" class="btn btn-success btn"  (click)="onAddToCart(product.id)" routerLink="/cart" >Buy</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" class="btn btn-success btn"  (click)="onAddToCart(product.id)">Add To Cart</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->