  <!-- Start Content Page -->
  <div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">About Author</h1>
        <p>
            David Sekulic
        </p>
    </div>
</div>

<div class="container py-5">  
    <section class="bg-light">
        <div class="row">
            <div class="col-lg-4 col-4">
                <img class="img-fluid" src="./assets/img/autor.jpg" alt="author">
            </div>
            <div class="col-lg-8 col-8 text-left">
                <p>Hello my name is David Sekulić and I am the creator of this website.</p>
            </div>
        </div>
    </section>
</div>

