  <!-- Start Content Page -->
  <div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p>
            Feel free to send us a message.
        </p>
    </div>
</div>

<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" #f="ngForm" method="post" role="form" (ngSubmit)="sendMessage(f)">
            <div class="row">
                <div class="form-group col-md-6 mb-3" [ngClass]="{
                    'error': f.form.controls.name?.invalid && (f.form.controls.name?.dirty || f.form.controls.name?.touched),
                    'success': f.form.controls.name?.valid && (f.form.controls.name?.dirty || f.form.controls.name?.touched)
               }">
                    <label for="inputname">Name</label>
                    <input type="text" 
                    class="form-control mt-1" 
                    id="name" 
                    name="name" 
                    placeholder="Name" 
                    ngModel
                    required>
                </div>
                <div class="form-group col-md-6 mb-3" [ngClass]="{
                    'error': f.form.controls.email?.invalid && (f.form.controls.email?.dirty || f.form.controls.email?.touched),
                    'success': f.form.controls.email?.valid && (f.form.controls.email?.dirty || f.form.controls.email?.touched)
               }">
                    <label for="inputemail">Email</label>
                    <input type="email" 
                    class="form-control mt-1" 
                    id="email" 
                    name="email" 
                    placeholder="Email" 
                    ngModel
                    required
                    email
                    >
                </div>
            </div>
            <div class="mb-3" [ngClass]="{
                'error': f.form.controls.subject?.invalid && (f.form.controls.subject?.dirty || f.form.controls.subject?.touched),
                'success': f.form.controls.subject?.valid && (f.form.controls.subject?.dirty || f.form.controls.subject?.touched)
           }">
                <label for="inputsubject">Subject</label>
                <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject" 
                required ngModel>
            </div>
            <div class="mb-3" [ngClass]="{
                'error': f.form.controls.message?.invalid && (f.form.controls.message?.dirty || f.form.controls.message?.touched),
                'success': f.form.controls.message?.valid && (f.form.controls.message?.dirty || f.form.controls.message?.touched)
           }">
                <label for="inputmessage">Message</label>
                <textarea class="form-control mt-1" id="message" name="message" placeholder="Message..." rows="8" 
                required ngModel></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" [disabled]="f.form.invalid" class="btn btn-success btn-lg px-3">Send a message</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->
